/* MEDIA QUERIES */

@media only screen and (max-width: 1199.98px) {
  #servicesBlob {
    width: 85%;
  }
  .card-body-custom {
    height: 130px;
    width: 130px;
  }
  .tableIcon {
    height: 50px;
  }
  .cardText,
  .cardText-blue {
    font-size: 18px;
  }

  .services-text,
  .services-text-white {
    font-size: 55px;
  }
  .service-subText {
    font-size: 15px;
  }
  #servicesbutton {
    font-size: 15px;
    border-radius: 50px;
  }
  .rating {
    margin-right: 0;
  }
  .decorText {
    font-size: 16px;
  }
  .stars {
    font-size: 50px;
  }
  .clients-text {
    font-size: 60px;
    padding-bottom: 10px;
  }
  .clients {
    padding-top: 0;
  }
  .MapHolder div {
    margin-right: 100px;
  }
  #location {
    padding-bottom: 40px;
  }
  .footer img {
    width: 90%;
  }
  #footerlogo {
    width: 80%;
  }
  .footercontact img {
    height: 50px;
  }
  .footer.pages {
    font-size: 12px;
  }
  .impressumHeader img {
    width: 80%;
    margin-top: 100px;
  }
  .impressum-text {
    font-size: 70px;
  }
  .details-text {
    font-size: 25px;
  }
  #headerImg {
    width: 80%;
  }
  .aboutrow img {
    width: 80%;
  }
  .aboutrow {
    padding-top: 150px;
  }
  .us {
    margin-right: -400px;
  }
}

@media only screen and (max-width: 991.98px) {
  #landingimg {
    width: 70%;
    margin: auto;
  }
  #servicesBlob {
    width: 75%;
  }
  .card-body-custom {
    height: 100px;
    width: 100px;
  }
  .tableIcon {
    height: 40px;
  }
  .cardText,
  .cardText-blue {
    font-size: 15px;
  }
  .services-text,
  .services-text-white {
    font-size: 40px;
  }
  .service-subText {
    font-size: 12px;
  }
  .title-icon {
    align-items: baseline;
  }
  .WhatweDoBox h3 {
    font-size: 20px;
  }
  .WhatweDoBox img {
    height: 60px;
    padding-left: 20px;
  }
  .details {
    font-size: 15px;
    padding: 20px;
  }
  .process {
    font-size: 20px;
  }
  .process h3 {
    font-size: 30px;
  }
  #icon {
    height: 70px;
  }
  .process p {
    width: 350px;
    line-height: 25px;
  }
  .rating {
    margin-left: 0;
    margin-right: 50px;
  }
  .clients-text {
    font-size: 40px;
    padding-bottom: 10px;
  }
  #quality {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 767.98px) {
  nav a {
    display: none;
    font-size: 14px;
    right: 200%;
  }
  .checkbtn {
    display: block;
    margin-right: -100px;
    float: right;
  }
  #check:checked ~ nav a {
    transition: 0.5s ease-in;
    display: block;
  }

  #servicesBlob {
    width: 70%;
  }
  #serviceSection {
    width: 70%;
    margin: auto;
  }
  #text-column {
    padding-bottom: 150px;
  }
  .process {
    font-size: 16px;
  }
  .process h3 {
    font-size: 20px;
  }
  #icon {
    height: 50px;
  }
  .process p {
    width: 350px;
    line-height: 25px;
  }
  .decorText {
    font-size: 15px;
  }
  .stars {
    font-size: 30px;
  }
  .rating {
    margin-right: 0;
  }
  .footerimg {
    display: none;
  }
  #footerlogo {
    width: 50%;
    padding: 20px;
  }
  .footer .row img {
    display: none;
  }
  .about {
    margin-right: auto;
  }
  .us {
    margin-right: auto;
  }
}
@media only screen and (max-width: 575.98px) {
  .landingText .problem {
    font-size: 70px;
  }
  .landingText .solution {
    font-size: 70px;
  }
  .from {
    margin-top: 55px;
  }
  #servicesBlob {
    width: 100%;
  }
  #cards {
    width: 90% !important;
  }
}
@media only screen and (max-width: 414px) {
  #check:checked ~ nav a {
    font-size: 10px;
  }
  #check:checked ~ .header a img {
    height: 20px;
  }
  .controlsvg {
    max-width: 80%;
  }

  .landingText .problem {
    font-size: 40px;
  }
  .landingText .solution {
    font-size: 40px;
    margin-top: -25px;
  }
  .landingText .to {
    font-size: 12px;
    margin-left: -18px;
    margin-top: -18px;
  }
  .landingText .from {
    font-size: 12px;
    margin-right: -10px;
    margin-top: 30px;
  }
  .landingframe {
    margin-bottom: 25;
  }
  #servicesBlob {
    width: 125%;
  }
  .bg {
    background-image: none;
  }
  .services-text-white {
    text-decoration-color: rgb(47, 216, 201);
  }
  .title-icon img {
    color: rgb(47, 216, 201);
  }
  .WhatweDoBox {
    overflow: hidden;
    /* padding-bottom: 500px; */
  }
  .process div {
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .decorText {
    font-size: 12px;
  }
  .stars {
    font-size: 20px;
  }
  .rating {
    margin-right: -30px;
  }
  .services-text,
  .clients-text {
    font-size: 30px;
  }
  .clients-imgs img {
    height: 20px;
  }
}
