/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
  #servicesBlob {
    width: 85%;
  }
  .card-body-custom {
    height: 130px;
    width: 130px;
  }
  .tableIcon {
    height: 50px;
  }
  .cardText,
  .cardText-blue {
    font-size: 18px;
  }

  .services-text,
  .services-text-white {
    font-size: 55px;
  }
  .service-subText {
    font-size: 15px;
  }
  #servicesbutton {
    font-size: 15px;
    border-radius: 50px;
  }
  .rating {
    margin-right: 0;
  }
  .decorText {
    font-size: 16px;
  }
  .stars {
    font-size: 50px;
  }
  .clients-text {
    font-size: 60px;
    padding-bottom: 10px;
  }
  .clients {
    padding-top: 0;
  }
  .MapHolder div {
    margin-right: 100px;
  }
  #location {
    padding-bottom: 40px;
  }
  .footer img {
    width: 90%;
  }
  #footerlogo {
    width: 80%;
  }
  .footercontact img {
    height: 50px;
  }
  .footer.pages {
    font-size: 12px;
  }
  .impressumHeader img {
    width: 80%;
    margin-top: 100px;
  }
  .impressum-text {
    font-size: 70px;
  }
  .details-text {
    font-size: 25px;
  }
  #headerImg {
    width: 80%;
  }
  .aboutrow img {
    width: 80%;
  }
  .aboutrow {
    padding-top: 150px;
  }
  .us {
    margin-right: -400px;
  }
}

@media only screen and (max-width: 992px) {
  #landingimg {
    width: 70%;
    margin: auto;
  }
  #servicesBlob {
    width: 75%;
  }
  .card-body-custom {
    height: 100px;
    width: 100px;
  }
  .tableIcon {
    height: 40px;
  }
  .cardText,
  .cardText-blue {
    font-size: 15px;
  }
  .services-text,
  .services-text-white {
    font-size: 40px;
  }
  .service-subText {
    font-size: 12px;
  }
  .title-icon {
    /* font-family: "Poppins Medium", sans-serif; */
    align-items: baseline;
  }
  .WhatweDoBox h3 {
    font-size: 20px;
  }
  .WhatweDoBox img {
    height: 60px;
    padding-left: 20px;
  }
  .details {
    font-size: 15px;
    padding: 20px;
  }
  .process {
    font-size: 20px;
  }
  .process h3 {
    font-size: 30px;
  }
  #icon {
    height: 70px;
  }
  .process p {
    width: 350px;
    line-height: 25px;
  }
  .rating {
    margin-left: 0;
    margin-right: 50px;
  }
  .clients-text {
    font-size: 40px;
    padding-bottom: 10px;
  }
  #quality {
    padding-top: 50px;
  }
}
