/* MEDIA QUERIES */

@media only screen and (max-width: 1280px) {
  #servicesBlob {
    width: 85%;
  }
  .card-body-custom {
    height: 130px;
    width: 130px;
  }
  .tableIcon {
    height: 50px;
  }
  .cardText,
  .cardText-blue {
    font-size: 18px;
  }

  .services-text,
  .services-text-white {
    font-size: 55px;
  }
  .service-subText {
    font-size: 15px;
  }
  #servicesbutton {
    font-size: 15px;
    border-radius: 50px;
  }
  .rating {
    margin-right: 0;
  }
  .decorText {
    font-size: 16px;
  }
  .stars {
    font-size: 50px;
  }
  .clients-text {
    font-size: 60px;
    padding-bottom: 10px;
  }
  .clients {
    padding-top: 0;
  }
  .MapHolder div {
    margin-right: 100px;
    /* height: 400px; */
    /* display: flex; */
    /* flex-direction: column; */
  }
  #location {
    padding-bottom: 40px;
  }
  .footer img {
    width: 90%;
  }
  #footerlogo {
    width: 80%;
  }
  .footercontact img {
    height: 50px;
  }
  .footer.pages {
    font-size: 12px;
  }
  .impressumHeader img {
    width: 80%;
    margin-top: 100px;
  }
  .impressum-text {
    font-size: 70px;
  }
  .details-text {
    font-size: 25px;
  }
  #headerImg {
    width: 80%;
  }
  .aboutrow img {
    width: 80%;
  }
  .aboutrow {
    padding-top: 150px;
  }
  .us {
    margin-right: -400px;
  }
}
