* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #24252a; */
  /* overflow-x: hidden; */
}

.pad {
  padding-top: 60px;
}
/*  NAVBAR CSS */
li,
a,
button {
  font-family: "Poppins ExtraLight", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
}

.logo {
  height: 60px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  /* background-color: rgb(47, 216, 201, 0.7); */
  /* height: 70px; */
  /* box-shadow: 2px 2px 2px -2px rgba(0, 4,0, 0.8); */
}
.Nav {
  top: 0;
  z-index: 2000;
  position: fixed;
  width: 100%;
  background-color: #2fd8c9;
  /* padding-bottom: 20px; */
}
nav > .active {
  border-bottom: 1px solid white;
}
/* .nav_links {
  list-style: none;
  padding-top: 20px;
} */
/* .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease 0s;
}
.nav_links li:hover {
  color: white;
} */

nav .scrolllink {
  font-family: "Poppins Light";
  padding: 20px;
  list-style: none;
  text-decoration: none;
  color: white;
}
nav .scrolllink:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* nav > .active {
  border-bottom: 1px solid white;
} */

button {
  padding: 5px 25px;
  background-color: rgb(47, 216, 201);
  border: none;
  /* border-collapse: separate; */
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
button:hover {
  background-color: rgb(47, 216, 201, 0.8);
}
.btnText {
  font-family: "Poppins";
  font-weight: bold;
}
/* HEADER CSS */
.landingText {
  display: flex;
  justify-content: flex-end;
  /* margin-right: -100px; */
  margin-top: 100px;
  /* align-items: ce; */
  /* align-items: center; */
}

.landingframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.from {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  margin-right: -20px;
  /* align-items: stretch; */
  font-family: "Poppins ExtraLight";
  font-style: italic;
  color: rgb(47, 216, 201);
  font-size: 20px;
}
.problem {
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins SemiBold";
  font-size: 90px;
  color: #282828;
}

.to {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Poppins ExtraLight";
  font-style: italic;
  color: #282828;
  /* align-items: baseline; */
  font-size: 20px;
  margin-left: -36px;
  margin-top: -20px;
}
.solution {
  /* display: flex; */
  /* justify-content: end; */
  margin-top: -60px;
  /* margin-left: -15px; */
  font-family: "Poppins SemiBold";
  color: rgb(47, 216, 201);
  font-size: 90px;
}
.landingBTN {
  border-radius: 50px;
  /* width: 400px; */
  max-width: 500px;
}
/* OUR SERVICES SECTION */

.services-text {
  display: flex;
  font-family: "Poppins ExtraBold", sans-serif;
  font-size: 90px;
  text-decoration: underline;
  text-decoration-color: rgb(47, 216, 201);
  text-decoration-thickness: 10px;
  text-underline-offset: 10px;

  padding-bottom: 6%;
}
.services-text-white {
  display: flex;
  font-family: "Poppins ExtraBold", sans-serif;
  font-size: 90px;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 10px;
  /* padding-bottom: 6%; */
  padding-top: 150px;
  text-underline-offset: 10px;
}

.service-subText {
  display: flex;
  font-family: "Poppins Light", sans-serif;
  font-size: 18px;
  /* justify-content: center; */
  /* padding-left: 0px; */
}
.service-layout {
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

/* .row {
  margin-bottom: 180px;
} */
.header-space {
  margin-bottom: 180px;
}
.service-row {
  margin-top: -50%;
  margin-bottom: 10%;
  /* margin-left: -40%; */
}
.card-layout {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-content: space-evenly; */
  margin-top: -50%;
  /* margin-left: 50%; */
  /* flex-wrap: wrap-reverse; */
}
.card-body-custom {
  /* display: flex; */
  /* min-height: 100vh; */
  background-color: #2fd8c9;
  border: none;
  border-radius: 8px;
  height: 200px;
  width: 200px;
  /* flex: 0 0 181px; */
  /* width: auto; */
  /* width: 100px; */
}
.white {
  background-color: white;
}

.index {
  z-index: 1000;
}
.content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardText {
  font-family: "Poppins ExtraLight";
  color: white;
}
.cardText-blue {
  font-family: "Poppins ExtraLight";
  color: #2fd8c9;
}
.tableIcon {
  height: 90px;
}

/*  WHAT WE DO SECTION */

.bg {
  background-image: url("../../Assets/imgs/Decor SVGS/WhatWeDo.svg");
  height: 1550px;
}

.WhatweDoBox {
  justify-content: center;
  align-items: center;
  /* padding-left: 200px; */
  /* padding-right: 200px; */
  /* padding-bottom: 100px; */
  /* margin: auto; */
  margin-right: auto;
  /* margin-left: auto; */
}
.box-upper {
  display: flex;
  justify-content: center;
}
.box-lower {
  display: flex;
  justify-content: center;
}
.box-one {
  /* border-right: 2px solid #707070; */
  /* box-shadow: inset 0 0 10px #000000; */
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome *
  border-bottom: 2px solid #707070;
  /* margin-left: 150px; */
}
.box-two {
  /* border-bottom: 2px solid #707070; */
  border-left: 1px solid rgba(112, 112, 112, 0.2);
  border-left: 1px solid rgba(112, 112, 112, 0.2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.box-three {
  /* border-right: 2px solid #707070; */
  border-top: 1px solid rgba(112, 112, 112, 0.2);
  border-top: 1px solid rgba(112, 112, 112, 0.2);
  border-right: 1px solid rgba(112, 112, 112, 0.2);
  border-right: 1px solid rgba(112, 112, 112, 0.2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome *
  /* margin-left: 150px; */

  /* border-top: 5px solid red; */
}
.box-four {
  border-top: 1px solid rgba(112, 112, 112, 0.2);
  border-top: 1px solid rgba(112, 112, 112, 0.2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.title-icon {
  display: flex;
  font-family: "Poppins Medium", sans-serif;
  /* font-weight: bold; */
  color: #282828;
  align-items: last baseline;
  justify-content: left;
  padding: 20px;
}
/* .subHead {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .test {
  display: flex;
  align-items: flex-end;
} */
.title-icon img {
  height: 100px;
}
.details {
  font-family: "Poppins Light", sans-serif;
  font-weight: 400;
  padding: 40px;
}

/* PROCESS SECTION */
.process {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 250px;
  padding-right: 250px;
  max-width: 1900px;
}
#icon {
  height: 80px;
}
.process h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.process p {
  font-family: "Poppins ExtraLight", sans-serif;
}

/* QUALITY CONTROL SECTION */

.rating {
  /* background-color: #f2f2f2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
}
/* .ratingContainer {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
} */
.controlsvg {
  max-width: 90%;
  margin-left: 50px;
}
.stars {
  font-family: "Poppins Medium";
  /* font-weight: bolder; */
  font-size: 80px;
  color: #2fd8c9;
}
.decorText {
  font-family: "Poppins ExtraLight";
  /* font-weight: lighter; */
  font-size: 20px;
}

/* CLIENTS SECTION */

.clients-text {
  display: flex;
  font-family: "Poppins ExtraBold", sans-serif;
  font-size: 90px;
  text-decoration: underline;
  text-decoration-color: rgb(47, 216, 201);
  text-decoration-thickness: 10px;
  margin-left: 55px;
  text-underline-offset: 10px;

  padding-bottom: 50px;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#clienticon {
  height: 50px;
  /* margin: 40px; */
}
.arrowBTN {
  width: 50px;
}
/* FOOTER */

.footer {
  background-color: rgb(47, 216, 201, 0.5);
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 100px; */
  /* margin: 50px; */
}
.companyAddress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addressSpace span {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerimg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 100px;
  /* padding-top: 90px; */
}
.footercontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
}
.footercontact a {
  text-decoration: none;
  margin: auto;
  padding-right: 150px;
  justify-content: flex-start;
  font-family: "Poppins Light", sans-serif;
  color: white;
}
.footercontact a:hover {
  text-decoration: none;
  color: white;
}

/*  ABOUT PAGE */

.aboutTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-family: "Poppins Extralight", sans-serif;
}

.us {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 200px;
  font-family: "Poppins SemiBold", sans-serif;
  color: #2fd8c9;
  margin-top: -92px;
  margin-right: -200px;
}

/* TEAM SECTION */
/* .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
} */

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* padding: 15px; */
  margin: 17px;
}
.item img {
  width: 450px;
  height: 500px;
  border-radius: 20px;

  object-fit: cover;
}
.item:hover {
  border-color: #2fd8c9;
  box-shadow: 5px 5px 45px #2fd8c9;
  transition: 0.5s ease-in;
}
.item .name {
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  font-size: 30px;
}
.item .role {
  font-size: 18px;
  padding-top: -20px;
  font-family: "Poppins ExtraLight", sans-serif;
}

.careerTitle {
  margin-left: -50px;
}
.work {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-family: "Poppins Extralight", sans-serif;
  margin-left: 220px;
}

.with {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-left: 450px;
  margin-top: -40px;

  font-family: "Poppins Extralight", sans-serif;
}
.us {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 200px;
  font-family: "Poppins SemiBold", sans-serif;
  color: #2fd8c9;
  margin-top: -80px;
  margin-right: -600px;
}
.career-text {
  display: flex;
  font-family: "Poppins ExtraBold", sans-serif;
  font-size: 90px;
  text-decoration: underline;
  text-decoration-color: rgb(47, 216, 201);
  text-underline-offset: 40px;
  text-decoration-thickness: 10px;
  padding-bottom: 6%;
  text-underline-offset: 10px;
}
/* CAREER SECTION */
.accordinItem {
  max-width: 1200px;
  margin: auto;
  padding: 5px;
}
.jobSection {
  margin-bottom: 150px;
}

/* NOT FOUND */
.not-found img {
  padding: 50px;
  width: 900px;
  /* min-width: 500px; */
  max-width: 1200px;
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
.not-found {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.btnText_notfound {
  font-family: "Poppins";
}
/* Impressum */

.impressumHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px;
}

.impressum-text {
  display: flex;
  font-family: "Poppins ExtraBold", sans-serif;
  font-size: 90px;
  text-decoration: underline;
  text-decoration-color: rgb(47, 216, 201);
  text-underline-offset: 40px;
  text-decoration-thickness: 10px;
  /* text-underline-offset: 15px; */
  padding-bottom: 6%;
}
.details-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 60px;
  padding: 15px;
  font-family: "Poppins Light";
  font-size: 30px;
}

/* MAP */
.MapHolder {
  height: 500px;
}
